.section--post-page-header-section {
  position: relative;
  padding-bottom: 20px;
  padding-top: 150px;
  background-position: 50% 50%;
}

.section--post-page-header-section::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(18, 18, 18, 0.4);
}

.post__title {
  font-size: 3.2rem;
  font-weight: bold;
  color: #fff;
}

.post__header-content {
  position: relative;
  z-index: 5;
}

.post__header-info {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.post__author,
.post__date {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.post__h3 {
  margin: 0;
  margin-left: 10px;
  color: #fff;
}

.post__content * {
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.post__content a {
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px dotted transparent;
}

.post__content a:hover {
  border-color: #009ee0;
}

@media only screen and (max-width: 640px) {
  .post__header-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
  }
  .post__author {
    margin-bottom: 20px;
  }
}
