@media only screen and (max-width : 640px)
    .header-slider
        h3
            font-size: 1.3rem

        p
            display: none

    .new-propositions
        min-height: calc(100vh - 150px) !important

    .propositions__slider
        padding: 0

    .propositions 
        .uk-slidenav-previous
            left: 10%

        .uk-slidenav-next
            right: 10%