$default-font: 'Ubuntu', sans-serif
// #78af3f
$accent: #009ee0
$dark: #121212
$white: #fff
$grey: #ccc
$rating-yellow: rgb(214, 201, 27)
$text: #333

$heightWidth: 65px
$socialHeight: 45px
$gutter: 10px

// Font sizes

$fz16: 1rem
$fz18: 1.125rem
$fz19: 1.1875rem
$fz20: 1.25rem
